html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  background-color: whitesmoke;
}

h1 {
  font-family: "Space Mono", monospace;
  margin: 0px;
  font-size: 2rem;
}

p {
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  font-family: "Space Mono", monospace;
}

li {
  line-height: 1.6;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(122, 203, 168);
}

#backdrop {
  /* display: inline-block; */
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
}

.content {
  background-color: whitesmoke;
  width: 245px;
  height: 100%;
  padding: 45px;
}

.content #main-text {
  padding-top: 15px;
}

.content .social {
  padding-top: 15px;
}

@media only screen and (max-width: 600px) {
  #backdrop {
    position: relative;
    width: 100%;
  }

  .content {
    max-width: 80%;
    width: 90%;
    height: 100%;
    position: relative;
    min-height: 10px;
    padding: 35px;
  }
}
